img {
    max-width: 100%;
}

p {
    text-align: justify;
}

hr {
    border-top: 3px solid #414141;
}

ol, ul {
    padding-left: 20px;
}

header {
    background-color: #2e2e2e;
    font-size: 54px;
}
header a {
    color: #f9f9f9;
}

.container {
    max-width: 800px;
}

body {
    background-color: #414141;
}
#body {
    background-color: #f9f9f9;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-top: 20px;
}
